

* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #DDDAD0;
}

.atas {
    margin-top: 10px;
    text-align: center;
    color: #454040;
    font-size: 2rem;
}

.garis {
    position: relative;
    border: none;
    height: 3px;
    background-color: #444342;
    width: 90%;
    margin-top: 10px;
    /* margin: 20px auto; */
}

.pemilik {
    text-align: center;
    color: #454040;
    font-size: 1.5rem;
    margin-top: 10px;
}

.judul {
    text-align: center;
    color: #454040;
    font-size: 4rem;
    width: 0%;
    margin-top: 3rem;
}

.foto {
    text-align: center;
    margin-top: 3rem;
    width: 80%;
}

.foto img {
    width: 80vw;
    height: 50vh;
    object-fit: cover;
}

.teks2 {
    text-align: center;
    color: #454040;
    font-size: 3rem;
    margin-top: 5rem;
}

.about {
    text-align: center;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 2rem;
    color: #454040;
    width: 80%;
    margin-bottom: 3rem;
}

.daftardesk {
    width: 90%;
}

.desk {
    margin-top: 3rem;
}

.desk:nth-child(odd) .juduldesk {
    color: #454040;
    text-align: left;
    font-size: 3rem;
}

.desk:nth-child(odd) .deskripsi {
    color: #454040;
    text-align: left;
    font-weight: 100;
    font-size: 2rem;
    margin-top: 50px;
}

.desk:nth-child(even) .juduldesk {
    color: #454040;
    text-align: right;
    font-size: 3rem;
}

.desk:nth-child(even) .deskripsi {
    color: #454040;
    text-align: right;
    font-weight: 100;
    font-size: 2rem;
    margin-top: 50px;
}

.person {
    text-align: center;
    color: #454040;
    box-shadow: #454040;
    font-size: 3rem;
    margin-top: 5rem;
}

.bgfoto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 3rem;
    height: auto;
    width: 100%;
    background-color: #57564F;
}

.fotowanita {
    margin-top: 3rem;
}

.fotowanita h6 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #f5f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.teks5 {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #57564F;
    font-size: 2.5rem;
}

.desk4 {
    margin-bottom: 3rem;
    text-align: center;
    width: 90%;
    color: #454040;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.end {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: #57564F;
    font-size: 2.5rem;
    width: 90%;
}